:root {
    --main-color: orange;
    --secondary-color: grey;
}

li {
    list-style-type: none;
}

.os-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0.5%;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid orange;
    border-radius: 20px;
    background: white;
    width: 30%;
    height: 6%;
    box-shadow: inset -3px -3px 10px orange;
}