li {
    list-style-type: none;
}

.os-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick solid black;
    border-radius: 20px;
    background: white;
    width: 30%;
    height: 6%;
}